<div class="flex mr-10 mt-3">
    <span class="mt-2 pr-3 ">Claro</span>
    <label for="check" class="bg-white w-[65px] h-[28px] rounded-full mt-2 relative cursor-pointer">
        <input type="checkbox" name="" id="check" class="w-10 sr-only peer">                
        <span class="bg-gray-400 absolute rounded-full w-[20px] h-[20px] left-1 top-1 peer-checked:bg-gray-600  peer-checked:left-10 transition-all duration-300" id="toggle"></span>               
    </label>
    <span class="mt-2 pl-3">Oscuro</span>
</div>